$nav-closed-height: 70px;

.nav {
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  min-height: $nav-closed-height;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0 50px;

  transition: top 0.2s;
}

.nav--hidden {
  top: -$nav-closed-height;
}

.nav__button {
  padding: 10px;
  margin: 10px;

  color: $nav-link-color;
  text-decoration: none;

  border-radius: 5px;
}

.nav__button:hover {
  background-color: $nav-link-hover-background;
}

.nav__menu__button {
  display: none;
  position: absolute;
  top: 12px;
  left: 20px;
  margin: 0;
  border-style: none;
  background: none;
  padding: 10px;
  font-size: 1.5em;
}

@include media-breakpoint-down(sm) {
  .nav {
    padding: 0 10px;
  }

  .nav__button {
    display: none;
  }

  .nav__menu__button {
    display: initial;
  }

  .nav--responsive-open {
    // ignore hidden while menu is open
    top: 0;

    flex-direction: column;
    align-items: stretch;
    padding-top: 60px;

    .nav__button {
      display: initial;
    }
  }
}
