<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ block "title" . }}
            {{ .Site.Title }}
        {{ end }}
    </title>

    {{ partial "meta.html" . }}
    {{ partial "imports.html" . }}
</head>
<body>
{{ partial "header.html" . }}
<main class="main">
    {{ block "main" . }}
    {{ end }}
</main>
<footer>
    <div class="copyright">
        <a href="https://github.com/Nonakesh/nonakesh" target="_blank">&copy; {{ replace .Site.Copyright "{year}" now.Year }}</a>
    </div>
</footer>
</body>
</html>
