{{/* Html */}}
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="keyword" content="{{ .Site.Params.keywords }}" >

{{/* Open graph */}}
<meta property="og:title" content="{{ .Site.Title }}"/>
<meta property="og:description" content=" .Site.Params.description " />
{{ $imagePath := "images/ProfilePicture.jpg" }}
{{ $originalImage := resources.Get $imagePath }}
{{ $image := $originalImage.Resize "1200x webp q80" }}
<meta property="og:image" content="{{ $image.Permalink }}"/>
<meta property="og:url" content="{{ .Site.BaseURL }}" />
<meta property="og:type" content="website" />

{{/* Twitter */}}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta name="twitter:creator" content="{{ .Site.Params.twitterHandle }}" />
<meta name="twitter:description" content="{{ .Site.Params.description }}"/>
{{ $twitterImage := resources.Get "images/TwitterCard.png" }}
<meta name="twitter:image" content="{{ $twitterImage.Permalink }}"/>

