<div class="featured-projects">
    <h1 class="projects__heading">Featured Projects</h1>
    <ul class="featured-project-list">
        {{ $sortedProjects := (.Pages.ByParam "start").Reverse }}

        {{/* Featured Projects */}}
        {{ range (where $sortedProjects "Params.featured" true) }}
            <li class="featured-project appear">
                {{ if .Params.image }}
                    {{ $imagePath := .Params.image }}
                    {{ $image := resources.Get $imagePath }}
                    {{ $image = $image.Resize "500x webp q80" }}
                    {{/*                    {{ $image = $image.Filter (images.Colorize 250 70 50) }}*/}}
                    {{ if .Params.image }}
                        <img class="featured-project__image fade-up" src="{{ $image.Permalink }}"
                             alt="A image showing {{ .Title }}"
                             loading="lazy"
                             style="width: {{$image.Width}}px">
                    {{ end }}
                {{ end }}
                <div class="featured-project__content fade-up">
                    <div class="featured-project__text">
                        <h1 class="featured-project__featured">Featured Project</h1>
                        <h2 class="featured-project__title"> {{ .Title }}</h2>
                        <div class="featured-project__summary">
                            {{ .Summary | safeHTML}}

                            {{ if .Truncated }}
                                <a class="featured-project__read-more" href="{{ .Permalink }}">Read more</a>
                            {{ end }}
                        </div>
                    </div>

                    {{ if .Params.Tags }}
                        <div class="tags">
                            {{ range .Params.Tags }}
                                <div class="tag">{{ . }}</div>
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </li>
        {{ end }}
    </ul>
</div>

<div class="other-projects">
    <h1 class="projects__heading other-projects__heading">Other Projects</h1>
    <ul class="other-project-list">
        {{/* Project Cards */}}
        {{/* The filter is != true, so projects without the featured param are added here as well. */}}
        {{ range (where $sortedProjects "Params.featured" "!=" true) }}
            <li class="other-project appear fade-up">
                <h1 class="other-project__heading">{{ .Title }}</h1>
                <div class="other-project__summary">
                    {{ .Summary | safeHTML }}

                    {{ if .Truncated }}
                        <a class="featured-project__read-more" href="{{ .Permalink }}">Read more</a>
                    {{ end }}
                </div>
                {{ if .Params.Tags }}
                    <div class="tags">
                        {{ range .Params.Tags }}
                            <div class="tag">{{ . }}</div>
                        {{ end }}
                    </div>
                {{ end }}
            </li>
        {{ end }}
    </ul>
</div>