<div class="featured-projects">
    <h2 class="projects__heading">Featured Projects</h2>
    <ul class="featured-project-list">
        {{ $sortedProjects := (.Pages.ByParam "start").Reverse }}

        {{/* Featured Projects */}}
        {{ range (where $sortedProjects "Params.featured" true) }}
            <li class="featured-project appear">
                {{ if .Params.image }}
                    {{ $imagePath := .Params.image }}
                    {{ $image := resources.Get $imagePath }}
                    {{ $image = $image.Resize "500x webp q80" }}
                    {{ if .Params.image }}
                        <img class="featured-project__image fade-up" src="{{ $image.Permalink }}"
                             alt="A image showing {{ .Title }}"
                             loading="lazy"
                             style="width: {{$image.Width}}px">
                    {{ end }}
                {{ end }}
                <div class="featured-project__content fade-up">
                    <div class="featured-project__text">
                        <div class="featured-project__featured">Featured Project</div>
                        <h3 class="featured-project__title"> {{ .Title }}</h3>
                        <div class="featured-project__summary">
                            {{ .Summary | safeHTML}}

                            {{ if or .Params.links .Truncated }}
                                <ul class="featured-project__links">
                                    {{ range .Params.links }}
                                        <li class="featured-project__link">
                                            <a href="{{ .url }}" target="_blank">
                                                {{ .name }}
                                            </a>
                                        </li>
                                    {{ end }}

                                    {{ if .Truncated }}
                                        <li class="featured-project__link">
                                            <a href="{{ .Permalink }}">Read more</a>
                                        </li>
                                    {{ end }}

                                </ul>
                            {{ end }}
                        </div>
                    </div>

                    {{ partial "tech-tags" . }}
                </div>
            </li>
        {{ end }}
    </ul>
</div>

<div class="other-projects">
    <h2 class="projects__heading other-projects__heading">Other Projects</h2>
    <ul class="other-project-list">
        {{/* Project Cards */}}
        {{/* The filter is != true, so projects without the featured param are added here as well. */}}
        {{ range (where $sortedProjects "Params.featured" "!=" true) }}
            <li class="other-project appear fade-up">
                <h3 class="other-project__heading">{{ .Title }}</h3>
                <div class="other-project__summary">
                    {{ .Summary | safeHTML }}

                    {{ if .Truncated }}
                        <a class="featured-project__read-more" href="{{ .Permalink }}">Read more</a>
                    {{ end }}
                </div>
                {{ partial "tech-tags" . }}
            </li>
        {{ end }}
    </ul>
</div>